<h1>Editar pelicula</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Mostrar Pelicula", @movie, class: "btn btn-success" %>
  <%= link_to "Volver a Peliculas", movies_path, class: "btn btn-secondary" %>
</div>
