<nav class="navbar navbar-expand-lg" style="background-color: rgb(249, 235, 255);">
  <div class="container-fluid">
  <a class="navbar-brand" href="<%= root_path %>">
  <img src="<%= asset_path('block.jpg') %>" alt="Logo" style="height: 35px; width: auto;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Clientes', clients_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Peliculas', movies_path, class: 'nav-link' %>
        </li>
    </div>
  </div>
</nav>
