<h1>Editar Clientes</h1>

<%= render "form", client: @client %>

<br>

<div class="mt-3">
  <%= link_to "Mostrar Cliente", @client, class: "btn btn-info" %>
  <%= link_to "Volver a Clientes", clients_path, class: "btn btn-secondary" %>
</div>
